server:
  port:8082

#logging level
logging:
  level:
    root:INFO
  pattern:
    console:{\"%p\",\"%thread\",\"%logger{0}\",\"%replace(%m%ex){'[\r\n]+', '\\n'}%nopex\"}%n

#micrometer
management:
  metrics:
    export:
      prometheus:
        enabled:false
  tags:
    app:address-book-sender
  endpoint:
    metrics:
      enabled:true
  endpoints:
    web:
      exposure:
        include=*

# kafka
kafka:
  boot:
    server: localhost:9092
  topic:
    name: address-sender